/* * {
  padding: 0;
  margin: 0;
} */

.header #desc {
  width: 75%;
  display: inline-block;
  /* background-color: #31d; */
  color: white;
}
.header #desc h1 {
  margin: 0;
}

.mainHead {
  /* border: 2px solid red; */
  width: 90%;
  margin: auto;
  border-radius: 20px;
}

.header #desc h3 {
  color: rgb(29, 176, 48);
  margin: 0;
}

h3 {
  margin-bottom: 0;
}

.header {
  height: 10%;
  margin: 0;
  padding: 2% 2%;
  background-color: rgb(20, 61, 70);
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* align-content: center; */
}

/* .header #dp {
  width: 24%;
  display: inline-block;
  box-sizing: border-box;
  border: 5px solid rgb(79, 19, 231);
  border-radius: 4px;
} */

.header img {
  width: 24%;
  display: inline-block;
  height: 25%;
  box-sizing: border-box;
  object-fit: contain;
  border: 3px solid rgb(20, 100, 70);
  border-radius: 10px;
}

.details {
  background-color: rgb(5, 45, 54);
  margin: 0;
  padding: 10px 0;
  /* border-bottom: 2px solid red; */
  border-radius: 0 0 20px 20px;
}

.mainContent {
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap-reverse; */
  justify-content: space-between;
  /* align-content: center; */
}

.details li {
  color: white;
  display: inline-block;
  width: 49%;
}

.ai {
  font-weight: 400;
}
.details li a {
  color: white;
  text-decoration: none;
}

.details li a:hover {
  color: rgb(15, 106, 224);
  text-decoration: underline;
}
ul {
  margin-top: 5px;
}
.details ul {
  margin: 0;
}

.left {
  /* border: 2px solid orange; */
  width: 40.125%;
  display: inline-block;
  margin-left: 5%;
  padding: 2% 2%;
  object-fit: contain;
  background-color: whitesmoke;
  border-radius: 20px;
}

.right {
  /* border: 2px solid purple; */
  width: 40.125%;
  display: inline-block;
  margin-right: 5%;
  padding: 2% 2%;
  object-fit: contain;
  background-color: rgb(245, 245, 245);
  border-radius: 20px;
}

.declaration {
  /* border: 2px solid red; */
  margin: 0 5%;
  padding: 0 2%;
  background-color: #e9e9e9;
  border-radius: 20px;
  /* color: white; */
}
/* Skill -- start */
.skill li {
  display: inline-block;
  margin: 0 10px 5px 0;
  padding: 0 8px;
  border: 1px solid rgb(4, 90, 13);
  border-radius: 10%;
}

/* Skill --- end */

/* Left --- start */
.left .year {
  display: inline-block;
  margin-top: 0;
  color: rgb(4, 90, 13);
}

.edHeading {
  margin-bottom: 0;
}
.left .yearplace {
  display: inline-block;
  /* margin-left: 145px; */
  margin-top: 0;
  color: rgb(4, 90, 13);
}

.timePlace {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left h5 {
  margin: 0;
}

.left .goal {
  margin: 0;
}

/* left ---- end  */

#declarationName {
  margin-top: 0;
}

.mainContainer {
  width: 80%;
  margin: auto;
  font-size: 1.25vw;
}
h2 {
  margin-bottom: 0;
}
